/*--------------------------------------------------------------
# Inscrições Section
--------------------------------------------------------------*/
#inscriçoes h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

#inscriçoes .tabela_estudante {
  margin-bottom: 30px;
}

#inscriçoes .tabela_estudante2 {
  margin-bottom: 30px;
}

#inscriçoes .tabela_professor {
  margin-bottom: 30px;
}

#inscriçoes .tg{
  border-collapse:collapse;
  border-spacing:0;
}

#inscriçoes .tabelas  .tg td{
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;
}

/*
#inscriçoes .tabelas  .tg th{
 
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
                        
#inscriçoes .tg .tg-1{
  background-color:#f6f7fd;
  border-color:#f6f7fd;
  font-family:Arial, Helvetica, sans-serif !important;;
  font-size:14px;
  text-align:left;
  vertical-align:top;
}

#inscriçoes .tg .tg-2{
  background-color:#d1d1d1;
  border-color:#d9d5d5;
  font-family:Arial, Helvetica, sans-serif !important;;
  font-size:14px;
  font-weight:bold;
  text-align:left;
  vertical-align:top;
}
                        
#incriçoes .tg .tg-3{
background-color:#d1d1d1;
border-color:#d9d5d5;
font-family:Arial, Helvetica, sans-serif !important;;
font-size:14px;
text-align:left;
vertical-align:top
}    
  
#inscriçoes .tg .tg-4{
background-color:#d1d1d1;
border-color:#d9d5d5;
font-family:Arial, Helvetica, sans-serif !important;;
font-size:14px;
font-weight:bold;
text-align:center;
vertical-align:top
}

#inscriçoes .tg .tg-5{
background-color:#d1d1d1;
border-color:#d9d5d5;
font-family:Arial, Helvetica, sans-serif !important;;
font-size:14px;
text-align:center;
vertical-align:top
}

#inscriçoes .tg .tg-6{
background-color:#f6f7fd;
border-color:#f6f7fd;
font-family:Arial, Helvetica, sans-serif !important;;
font-size:14px;
text-align:center;
vertical-align:top
}
*/

.btn-subscription {
  border: none;
  background: #3C4858;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  text-decoration: none;
  padding: 4px;
  width: 110px;
}

.btn-subscription-text {
  color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  text-decoration: none;
}